<button
  *ngIf="showRequestPermissionBtn"
  class="btn btn-primary mb-3"
  (click)="onRequestPermissionsClick()"
>
  Request permissions
</button>
<div
  id="output"
  class="d-flex flex-wrap gap-2"
  style="min-height: 200px; border: 1px solid black"
  ondragover="event.stopPropagation(); event.preventDefault();"
  (drop)="doDrop($event)"
>
  <div
    *ngFor="let file of fileList; index as i"
    class="align-items-center d-flex flex-column p-2 icon"
  >
    <div class="icon-holder">
      <img
        *ngIf="file.name.endsWith('.png')"
        class="w-100 h-100"
        [src]="file.url"
        (click)="fileSelected.emit(file.url)"
      />
      <svg
        *ngIf="file.kind === 'directory'"
        (click)="onDirectoryClick(file.name)"
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="100%"
        fill="currentColor"
        class="bi bi-folder"
        viewBox="0 0 16 16"
      >
        <path
          d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"
        />
      </svg>
    </div>
    <div class="file-name">{{ file.name }}</div>
    <button *ngIf="file.name !== '..'" class="btn btn-link" (click)="onFileRemoveClick(file.name)">
      Remove
    </button>
  </div>
</div>
